In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [7]:
df=pd.DataFrame({'Boys':[432,379,501,41,420,418],'Girls':[408,513,412,436,461,500]})

In [8]:
df.head()

   Boys  Girls
0   432    408
1   379    513
2   501    412
3    41    436
4   420    461

In [9]:
{5,6,7,8,9,10

Girls	408	513	412	436	461	500
Boys	432	379	501	410	420	418

SyntaxError: invalid syntax (<ipython-input-9-4b7734cc26eb>, line 1)

In [10]:
df = df.T

In [11]:
df

         0    1    2    3    4    5
Boys   432  379  501   41  420  418
Girls  408  513  412  436  461  500

In [15]:
Ages=[5,6,7,8,9,10]

In [16]:
df.columns = Ages

In [17]:
df

        5    6    7    8    9    10
Boys   432  379  501   41  420  418
Girls  408  513  412  436  461  500

In [24]:
df = pd.read_excel(r'C:\Users\aalzah7\Documents\AmerZahData.xlsx')

In [29]:
df2=df

In [25]:
df

        5    6    7    8    9    10
Boys   432  379  501  410  420  418
Girls  408  513  412  436  461  500

In [30]:
for i in Ages:
    df2.loc['Total',i] = df2.loc['Boys',i] + df2.loc['Girls',i]

In [31]:
df2

          5      6      7      8      9      10
Boys   432.0  379.0  501.0  410.0  420.0  418.0
Girls  408.0  513.0  412.0  436.0  461.0  500.0
Total  840.0  892.0  913.0  846.0  881.0  918.0

In [36]:
column=2
print sum(row[column]) for row in df

SyntaxError: invalid syntax (<ipython-input-36-a659fac6ca4e>, line 2)

In [41]:
df2.groupby(['Total']).sum()

KeyError: 'Total'

In [45]:
total = df2.sum(axis=1)['Total']
boys = df2.sum(axis=1)['Boys']
boys/total

0.4839319470699433

In [51]:
seven = df2.sum(axis=0)[7]-913
seven/total

0.17258979206049149

In [54]:
df2.loc['Total',7]/total

0.17258979206049149

In [56]:
df2.loc['Boys',10]/total

0.079017013232514172

In [66]:
df2.loc['Total',8:10]/total

8     0.159924
9     0.166541
10    0.173535
Name: Total, dtype: float64

In [67]:
np.sum(df2.loc['Total',8:10]/total)

0.5

In [68]:
df2.loc['Girls',9]/df2.sum(axis=1)['Girls']

0.16886446886446888

In [69]:
GirlsT = df2.sum(axis=1)['Girls']